DOCKER_POSTGRES_USER=user
DOCKER_POSTGRES_PASSWORD=password
DOCKER_POSTGRES_DB=finances_app

DOCKER_POSTGRES_USER_TEST=user_test
DOCKER_POSTGRES_PASSWORD_TEST=password_test
DOCKER_POSTGRES_DB_TEST=finances_app_test

DOCKER_POSTGRES_TIMEZONE=America/Sao_Paulo
