DOCKER_POSTGRES_USER=user
DOCKER_POSTGRES_PASSWORD=password
DOCKER_POSTGRES_DB=finances_app

DOCKER_POSTGRES_USER_TEST=user_test
DOCKER_POSTGRES_PASSWORD_TEST=password_test
DOCKER_POSTGRES_DB_TEST=finances_app_test

DOCKER_POSTGRES_TIMEZONE=America/Sao_Paulo

DATABASE_URL=postgresql+psycopg2://user:password@localhost:5436/finances_app
DATABASE_URL_TEST=postgresql+psycopg2://user_test:password_test@localhost:5437/finances_app_test
